<odoo>

    <!-- root -->
    <menuitem id="menu_water_billing_root" name="Water Billing" />

    <!-- customer menu -->
    <!-- <menuitem
        id="menu_water_members" parent="menu_water_billing_root"
        name="Customers" action="action_water_members" /> -->

    <!-- read meter menu -->
    <menuitem id="menu_read_meter"
        parent="menu_water_billing_root" name="Read Meter"
        action="action_read_meter"
    />

    <menuitem id="menu_read_meter_single"
        parent="menu_read_meter" name="Generate Single Billing"
        action="action_read_meter"
    />

    <!-- wizard menu -->

    <menuitem id="menu_generate_billing_wizard"
        parent="menu_read_meter"
        name="Generate Multiple Billing"
        action="action_generate_billing_wizard"
        sequence="100" />

    <!-- pay bills menu -->

    <menuitem id="menu_pay_bills"
        parent="menu_water_billing_root"
        name="Pay Bills"
        action="action_pay_bills" />

    <!-- payment history menu -->

    <menuitem id="menu_payment_history"
        name="Payment History"
        parent="menu_water_billing_root"
        action="action_payment_history" />

    <!-- graph menu -->

    <menuitem id="menu_water_reports_root"
        parent="menu_water_billing_root"
        name="Reports"
        action="action_water_usage_analysis"
        sequence="90" />

    <menuitem id="menu_generate_billing_period_wizard"
        parent="menu_water_billing_root"
        name="Generate Billing Period"
        action="action_generate_billing_period_wizard"
        sequence="100" />

</odoo>