<odoo>

    <!-- root -->
    <menuitem id="menu_water_billing_root" name="Water Billing" />

    <!-- customer menu -->
    <!-- <menuitem
        id="menu_water_members" parent="menu_water_billing_root"
        name="Customers" action="action_water_members" /> -->

    <!-- read meter menu -->
    <menuitem id="menu_read_meter"
        parent="menu_water_billing_root" name="Read Meter"
        action="action_read_meter"
    />
    <!-- pay bills menu -->

    <menuitem id="menu_pay_bills"
        parent="menu_water_billing_root"
        name="Pay Bills"
        action="action_pay_bills" />

    <!-- payment history menu -->

    <menuitem id="menu_payment_history"
        name="Payment History"
        parent="menu_water_billing_root"
        action="action_payment_history" />

    <!-- graph menu -->

    <menuitem id="menu_water_reports_root"
        parent="menu_water_billing_root"
        name="Reports"
        sequence="90" />

    <menuitem id="menu_water_usage_analysis"
        name="Reports"
        parent="menu_water_reports_root"
        action="action_water_usage_analysis"
    />


</odoo>